:root {
    --font-1: "Playfair", serif;
    --font-2: "Neue helv light" !important;
    --font-3: 'Cormorant Garamond', serif;
    --font4: 'Yantramanav', sans-serif;
    --instrument-font: "Instrument Serif", serif;
    --headling: 45px;
    --subheding: 25px;
    --para: 15px;

    --pearl: #FFFDFA;

    --blush: #F4C5BD;

    --dusk: #C98D73;

    --glow: #F9E6DE;

    --caramel: #D7AD8B;

    --ruby: #AF2E2E;
}



.site-footer {
    position: relative;
    /* background: url('../img/home/2.jpg') no-repeat center center/cover; */
    font-family: var(--font-1);
    z-index: 1;
    background-attachment: fixed;
    background-color: var(--ruby);
}

/* Overlay */
/* .site-footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.7);

    z-index: -1;
} */

/* GRID */

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 80px 0 50px;
    align-items: center;
}


/* LEFT LINKS */

.footer-links {
    display: flex;
    gap: 70px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 16px;
}

.footer-links a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
    color: #fff;
    position: relative;
    transition: 0.3s ease;
    font-family: var(--font4) !important;
}

.footer-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 1px;
    background: #fff;
    transition: 0.4s;
}

.footer-links a:hover::after {
    width: 100%;
}

.footer-email p {
    margin-bottom: 12px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    font-family: var(--font4) !important;


}

.footer-email i {
    margin-right: 8px;
    color: var(--blush);
}

.footer-email a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease;

    font-family: var(--font4) !important;


}

.footer-email a:hover {
    color: var(--blush);
}


/* CENTER AREA */

.footer-center {
    text-align: center;
}


/* SOCIAL ICONS */

.footer-social {
    margin-bottom: 20px;
}

.footer-social a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    margin: 0 8px;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 18px;
    color: #fff;
    transition: 0.3s ease;
}

.footer-social a:hover {
    background: var(--ruby);
    border-color: var(--ruby);
    transform: translateY(-4px);
}


/* TEXT */

.availability {
    font-size: 12px;
    letter-spacing: 2px;
    color: #fff;
    line-height: 1.8;
    font-family: var(--font4) !important;


}


/* EMAIL */

.footer-email {
    text-align: right;
}

.footer-email a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
    color: #fff;
    transition: 0.3s ease;
    font-family: var(--font4) !important;


}

.footer-email a:hover {
    color: var(--blush);
}


/* POLICY LINKS */

.footer-policy {
    text-align: center;
    padding-bottom: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 20px;
    padding-top: 25px;
}

.footer-policy a {
    margin: 0 16px;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.3s;
    font-family: var(--font4) !important;


}

.footer-policy a:hover {
    color: var(--blush);
}


/* BOTTOM STRIP */

.footer-bottom {
    /* background: var(--caramel); */
    color: #fcfcfc;
    text-align: center;
    padding: 18px;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;

}

.footer-bottom span {
    font-weight: 600;
    color: #fcfcfc;

}


/* RESPONSIVE */

@media (max-width: 991px) {

    .footer-grid {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 40px;
    }

    .footer-links {
        justify-content: center;
    }

    .footer-email {
        text-align: center;
    }

}