@media (max-width: 991px) {
    .headline {
        font-size: 34px;
    }

    .gallery-header .headline {
        width: 100% !important;
    }

    .carousel-caption {
        position: absolute;
        top: 31%;
        left: 38px;
        right: 0;
        transform: translateY(-50%);
        text-align: left;
        max-width: 493px;
    }

    .rajat-marquee-item {
        font-size: 20px;

    }

    .para {
        font-size: 17px;
    }

    .service-content p {
        height: auto;
    }

    .insta-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .gallery-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .follow-btn {
        margin-top: 25px;
    }

    .gallery-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .insta-profile-row {
        width: 90% !important;
    }

    .section-header p {
        width: 100% !important;
    }

    .inner_banner {
        min-height: 200px;

    }

    .inner_headline {
        font-size: 35px;
    }

    .packages-section p {
        width: 100% !important;
    }

    .enquiry-left h2 {
        font-size: 32px;
    }

    .enquiry-section {
        padding: 40px 0;
    }


    .package-content {
        width: 100%;
        text-align: left;
    }

    .img-front {
        position: relative;
        bottom: 0;
        right: 0;
        margin-top: -223px;
        width: 70%;
    }

    .footer-grid {
        gap: 10px;
    }

    .footer-grid {

        padding: 40px 0 20px;

    }

    .portfolio_img_Change {
        margin-top: 25px;
    }

    .cta_portfoli h5 {
        line-height: 40px;
        font-weight: 300;
        font-size: 25px;
    }

    .cta_portfoli {
        padding: 60px 0;
    }

    .my_grid_portfoli {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .parallax-row.right {
        top: 0;
    }

    .vz {
        position: relative;
        top: 0 !important;
    }

    .bn {
        position: relative;
        top: 0 !important;
    }

    .jbc {
        position: relative;
        top: 0 !important;
    }

    .parallax-img img {
        height: 100%;
    }

    .parallax-gallery {
        height: 100% !important;
    }
}

@media (max-width: 767px) {
    .carousel-caption p {
        font-size: 15px;

        .bridal-cta-section {
            height: 234px !important;



        }





    }



    .story-sec {

        grid-template-columns: 1fr !important;

    }

    .box_width {
        width: 100%;
    }

    .bridal-benefits-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 14px;
    }

    .story-image {
        position: absolute;
        width: 377px !important;
        height: 680px !important;
        left: 25px !important;
        top: -34% !important;
    }

    .story-right {
        height: 435px;
    }

    .carousel-indicators {

        display: none;
    }

    .parallax-gallery .container {
        width: 100%;
        /* max-width: 1200px; */
        margin: auto;
        position: relative;
    }

    .service-item {
        flex-direction: column-reverse;
    }

    .book-btn {
        width: auto;
    }

    .service-item {
        padding: 20px 0;

    }

    .service-content ul {
        margin: 25px 0;
        padding-left: 0;
    }

    .service-content {
        padding: 0;
        text-align: left;
    }

    .inner_banner {
        background-attachment: local;
    }

    .brand-shift {
        padding: 40px 0;

    }

    .inner_headline {
        font-size: 28px;
    }

    .abt_sec .headline {
        font-size: 34px;
        margin-top: 20px;
    }

    .service-some-details {
        padding: 40px 0;
    }

    .every_Sec img {
        margin-top: 25px;
    }

    .carousel-item img {
        object-position: top center;
    }

    .desciptx h2 {
        padding: 0;
        margin: 0;
    }

    .desciptx {
        position: absolute;
        bottom: 25px;
        padding: 0;
        margin: 0 15px;
    }

    .header_gap {
        height: 67px;
    }

    .mission-content h4 {
        font-size: 20px;
    }

    .main-title {
        font-size: 35px;
    }

    .abut_desc .para {
        margin-top: 20px;
    }

    .cta_box {
        width: 100% !important;
    }

    .headline {
        font-size: 28px;
    }

    .custom-accordion {
        width: 100% !important;
    }

    .service-btn {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 9px 29px;
        min-width: 177px;
        height: 44px;
        background: var(--ruby);
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 1px;
        overflow: hidden;
        cursor: pointer;
        border: none;
        z-index: 1;


    }


    .mission-content {
        margin: 61px auto 0;
    }

    .para {
        font-size: 15px;
    }

    .service-content p {
        font-size: 13px;
    }

    .service-btn {
        font-size: 12px;
    }

    /* .carousel-item {
        height: 80vh;
        min-height: 427px;
        position: relative;
        overflow: hidden;
    } */

    .carousel-caption .book-btn {
        padding: 8px 18px;
        font-size: 15px;

    }

    .carousel-caption .book-btn {
        width: auto;
    }

    .gallery-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .e1 a img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        object-position: center;
    }

    .carousel-caption {
        text-align: center !important;
    }

    .logo {
        height: 40px;
    }

    .book-btn2 {
        padding: 8px 18px;
        font-size: 15px;
        margin-top: 15px;
    }

    /* .set_us {
        margin-top: 25px;
    } */

    .center-img-box.im1 img {
        width: 70%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1440px) {
    .story-sec {
        display: grid;
        grid-template-columns: 70% 38%;
        width: 100%;
        min-height: 680px;
    }

    .story-image {
        position: absolute;
        width: 480px;
        height: 680px;
        left: -239px;
        top: 13%;
        /* overflow: hidden; */
        /* box-shadow: 0 35px 80px rgba(0, 0, 0, .18); */
    }
}